.not-found{
    width: 50%;
    height: 200px;
    background-color: crimson;
    color: #fff;
    margin: 40px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
}