.userDetails-table1 {
   
    width: 95%;
    background-color: var(--white);
    border-radius: 10px;
    margin: 15px;
}

.userDetails-table-heading-tr1 {
    /* text-align: center; */
    text-align: right;
    display: flex;
    justify-content: space-between;
    padding: 0 -4px 0 460px;
    width: 100%;
}

.userDetails-table-heading-tr1 th{
    flex-basis: 30%;
  
    text-align: center;

}

.userDetails-table-tr1 {
    text-align: center;
    display: flex;
    justify-content: space-around;
    padding: 0 -13px 0 30px;
    width: 100%;
    margin: 10px;
   
}

.userDetails-table-tr1 td.price{
    text-align: left;
    width: 33%;
}


.userDetails-table1 th {
    padding: 20px;
    flex-basis: 20%;
   
}

.userDetails-table1 td {
    padding: 20px;
    display: flex;
    align-items: center;
}

.userDetails-table-img1 {
    width: 150px;
    border-radius: 10px;
    object-fit: cover;
}

.userDetails-table-btn1 {
    padding: 8px 20px;
    font-size: 1.1rem;
    border-radius: 10px;
    color: var(--white);
    background-color: var(--blue);
    margin-right: 20px;
    border:none;
    outline: none;
    cursor: pointer;
}